venv*
htmlcov
.venv
.git
.gitignore
.dockerignore
.editorconfig
.bandit
.flake8
**/*.pyc
**/*.log
.idea
.coverage
.coverage.*
.cache
docs
build
dist
reports
.bandit.baseline
.coverage
.coverage.*
*.cover
.hypothesis/
.pytest_cache/
# Byte-compiled / optimized / DLL files
__pycache__/
**/*.py[cod]
**/*$py.class